<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="menu">
        <nav id="menu-h">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="agenda">Agenda</a></li>
            </ul>
        </nav>
    </div>
    
    <header>
        <h1>Agenda</h1>
    </header>
    <img src="\fotos\trello.jpg" alt="" id="ft_1">

    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\agenda_outlook.jpg" alt="" id="ft_1">
                </div>
            </nav>
    
                <article>
                    <h1>Agenda Outlook</h1>
                    <p id="parag1">
                    Utilizamos a agenda Microsoft Outlook para divulgar as datas em que os equipamentos estarão locados em um determinado caso, bem como as movimentações necessárias para atender aos casos.
                    </p>
                </article>
    
        </section>
    </div>

    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\agenda_outlook_dia.jpg" alt="" id="ft_1">
                </div>
            </nav>
    
                <article>
                    <h1>Agenda Outlook</h1>
                    <p id="parag1">
                        A consulta é necessária porque o processo de admissão e preparo do laser, e os tempos relacionados variam de hospital para hospital, onde há casos em que seja fácil e rápida a entrada e instalação, outros em que seja um processo comum e outros em que a demora é grande por diversos aspectos.
                    </p>
                </article>
    
        </section>
    </div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\agenda_outlook_mes.jpg" alt="" id="ft_1">
                </div>
            </nav>
    
                <article>
                    <h1>Agenda Outlook</h1>
                    <p id="parag1">
                        Para agendar um caso, consulte a agenda Outlook e confirme com a equipe laser se seu caso pode ser agendado na data desejada.                    </p>
                </article>
    
        </section>
    </div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\agenda_trello_mes.jpg" alt="" id="ft_1">
                </div>
            </nav>
    
                <article>
                    <h1>Agenda Trello</h1>
                    <p>Nosso controle é feito utilizando o Microsoft Outlook para divulgar e o Trello para controlar.</p>

                </article>
    
        </section>
    </div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\agenda_trello_dia.jpg" alt="" id="ft_1">
                </div>
            </nav>
    
                <article>
                    <h1>Agenda Trello</h1>
                    <p>O aplicativo Trello nos proporciona um visualização em outro formato, com possibilidade de controle de data de entrega, checklists de tarefas, atribuição de responsável por determinadas tarefas, e o controle por lotes e no estilo KanBan, com listas diferentes para cada situação ou necessidade.</p>
                </article>
    
        </section>
    </div>
</body>
</html>