<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="estilo.css">

</head>
<body>
    <div class="menu">
        <nav id="menu-h">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/agenda">Agenda</a></li>
            </ul>
        </nav>
    </div>

    <header>
        <h1>O QUE É</h1>
    </header>
<div>
    <section>
        <nav id="nav_ft" class="secao">
            <div id="div_ft">
                <img src="\fotos\laser.jpg" alt="" id="ft_1">
            </div>
        </nav>

            <article>
                <h1>Laser System</h1>
                <p id="parag1">CVX-300P é a 4ª geração do laser excímero Spcetranetics Philips IGT-D. Seu nome deriva de sua aplicação, que em inglês significa Cardio Vascular Excimer com comprimento de onda de 308 nm, produz luz UV na faixa B.</p>
            </article>

    </section>
</div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\laser1.jpg" alt="" id="ft_1">
                </div>
            </nav>
            
            <article>
                <h1>Tamanho</h1>
                <p id="parag2">
                    O laser CVX-300P tem 1,25 m de comprimento, 95 cm de altura e 70 cm de largura.
Sua massa é de 300 kg.
Necessita de um circuito de alimentação de 220 V e 20 Ampéres de capacidade, preferencialmente um circuito exclusivo.
 
                </p>
            </article>
        </section>
    </div>
<div>
    <section>
        <nav id="nav_ft" class="secao">
            <div id="div_ft">
                <img src="\fotos\espectro.jpg" alt="" id="ft_1">
            </div>
        </nav>
        
        <article>
            <h1>Laser</h1>
            <p id="parag1">
                Laser é um tipo de luz. Um tipo particular de luz, que é monocromática, e que possui a característica de ter fótons direcionais e coerentes, ou seja, todos os fótons viajam na mesma direção, paralelamente, o que se mostrará vantajoso em diversos aspectos.
            </p>
        </article>
    </section>
</div>

<div>
    <section>
        <nav id="nav_ft" class="secao">
            <div id="div_ft">
                <img src="\fotos\uva-uvb.jpg" alt="" id="ft_1">
            </div>
        </nav>
        
        <article>
            <h1>Espectros de Onda</h1>
            <p id="parag1">
                CVX-300 = 308 nm. Analisando o espectro eletromagnético, vemos que a luz UV – Ultra Violeta – vai  de aproximadamente 380 nm a 100 nm, e a escolha da faixa B tem relação direta com o a aplicação pretendida.
            </p>
        </article>
    </section>
</div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\efeito_pele.jpg" alt="" id="ft_1">
                </div>
            </nav>
            
            <article>
                <h1>Efeito na nossa pele</h1>
                <p id="parag1">
                    Lasers UV-B 280 – 315 nm são únicos por serem superficialmente absorvidos pelo tecido humano.
                    Pequenas doses de energia são necessárias para que ele atue.
                </p>
                <p>A absorção destas pequenas doses é total!
                    Uma vez que a luz UV-B é superficialmente absorvida, os efeitos colaterais no tecido são reduzidos.
                    </p>
                <p>A luz é transmitida por fibra óptica, e isto possibilita segurança e baixo custo de produção de cateteres e bainhas, sem risco de choque elétrico.</p>
                <p></p>
                <p></p>

            </article>
        </section>
    </div>
<div>
    <section>
        <nav id="nav_ft" class="secao">
            <div id="div_ft">
                <img src="\fotos\funcionamento-laser.jpg" alt="" id="ft_1">
            </div>
        </nav>
        
        <article>
            <h1>Efeito Fotomecânico</h1>
            <p id="parag1">
                Luz é matéria, e matéria tem massa, portanto, os pulsos de energia laser transmitidos pelo CVX-300P causam ondas de choque ao atingirem a água presente no tecido. Todas as formas de radiação apresentam o efeito cumulativo, e a o efeito fotomecânico contribui para fornecer energia ao tecido.
            </p>
        </article>
    </section>
</div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\efeito-fotoquimico.jpg" alt="" id="ft_1">
                </div>
            </nav>
            
            <article>
                <h1>Efeito Fotoquímico</h1>
                <p id="parag1">
                    A principal razão da escolha da luz UV-B, é que sua absorção provoca a quebra da molécula da água, e a energia fornecida produz uma reação imediata no tecido, composto por 70% de água, se dissolverá facilmente ao tamanho de uma hemácia, sendo filtrado pelos rins sem danos ao corpo.
                </p>
            </article>
        </section>
    </div>
<div>
    <section>
        <nav id="nav_ft" class="secao">
            <div id="div_ft">
                <img src="\fotos\efeito-fototermico.jpg" alt="" id="ft_1">
            </div>
        </nav>
        
        <article>
            <h1>Efeito Fototérmico</h1>
            <p id="parag1">
                A energia fornecida e o efeito fotoquímico produzem o efeito fototérmico, que é a liberação de calor pelas moléculas quebradas. Este efeito contribui para que as moléculas adjacentes ao ponto em que a luz atingiu o tecido, sejam preparados e já recebam uma dose extra de energia, o que aumenta a eficiência do efeito causado pelo laser.   
            </p>
        </article>
    </section>
</div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\pulsos.jpg" alt="" id="ft_1">
                </div>
            </nav>
            
            <article>
                <h1>Pulsos</h1>
                <p id="parag1">
                    Mas estes efeitos devem ser controlados, ainda que a doze de energia seja baixa, e a forma mais eficiente de se fazer este controle é com a geração de pulsos de energia. O CVX-300P possibilita a geração de pulsos na frequência de 25 a 80 Hz, suficientes para produzir a quantidade de energia necessária para a desobstrução de artérias de membros inferiores, coronárias e para a extração de eletrodos de marca passo/cárdio desfibriladores implantáveis (CDIs).
                </p>
            </article>
        </section>
    </div>
<div>
    <section>
        <nav id="nav_ft" class="secao">
            <div id="div_ft">
                <img src="\fotos\avanco.jpg" alt="" id="ft_1">
            </div>
        </nav>
        
        <article>
            <h1>Aplicação: a razão de avanço do cateter.</h1>
            <p id="parag1">
                O alcance da luz, já sabemos que sua absorção é superficial e isto tem relação com a profundidade dos efeitos, será em uma região bem próxima da ponta do cateter. Para que os efeitos sejam maximizados, o avanço do cateter deve ser lento, à uma taxa de 1 mm/segundo.               
            </p>
        </article>
    </section>
</div>
    <div>
        <section>
            <nav id="nav_ft" class="secao">
                <div id="div_ft">
                    <img src="\fotos\avanco1.jpg" alt="" id="ft_1">
                </div>
            </nav>
            
            <article>
                <h1>O resultado na pratica</h1>
                <p id="parag1">
                    Quanto mais lento o avanço, maior o lúmen obtido.
                </p>
            </article>
        </section>
    </div>
</body>
</html>